<div class="container">
    <div [ngSwitch]="model_name">
        <img *ngSwitchCase="'SI'" src="../../../assets/img/si.jpg" width="400" height="200" alt="SI">
        <img *ngSwitchCase="'SIR'" src="../../../assets/img/sir.jpg" width="400" height="200">
        <img *ngSwitchCase="'SIRS'" src="../../../assets/img/sirs.jpg" width="400" height="200">
        <img *ngSwitchDefault src="../../../assets/img/seir.jpg" width="400" height="200">
    </div>

    <form [formGroup]="form" #initialize_model="ngForm" >

        <table class="table table-sm">
            <tr>
                <td><h4>Parametros</h4></td> 
                <td><h4>Valores Iniciales</h4></td>
                <td><h4>Estimar??</h4></td>
                <td><h4>Analisis de Intervalos??</h4></td>
                <td><h4>Valores minimos</h4></td>
                <td><h4>Valores maximos</h4></td>
            </tr>
            <tr>
                <td>&beta;</td>
                <td><input type="number" formControlName="b_val"/></td>
                <td><input type="checkbox" formControlName="b_est" [checked]="beta_est" (change)="beta_est = !beta_est"/></td>
                <td><input type="checkbox" formControlName="b_int" /></td>
                <td><input type="number" formControlName="b_min"/></td>
                <td><input type="number" formControlName="b_max"/></td>
            </tr>
            <tr>
                <td>&gamma;</td>
                <td><input type="number" formControlName="g_val"/></td>
                <td><input type="checkbox" formControlName="g_est" /></td>
                <td><input type="checkbox" formControlName="g_int" /></td>
                <td><input type="number" formControlName="g_min"/></td>
                <td><input type="number" formControlName="g_max"/></td>
            </tr>
            <tr>
                <td>&delta;</td>
                <td><input type="number" formControlName="d_val"/></td>
                <td><input type="checkbox" formControlName="d_est" /></td>
                <td><input type="checkbox" formControlName="d_int" /></td>
                <td><input type="number" formControlName="d_min"/></td>
                <td><input type="number" formControlName="d_max"/></td>
            </tr>
            <tr>
                <td>e</td>
                <td><input type="number" formControlName="e_val"/></td>
                <td><input type="checkbox" formControlName="e_est" /></td>
                <td><input type="checkbox" formControlName="e_int" /></td>
                <td><input type="number" formControlName="e_min"/></td>
                <td><input type="number" formControlName="e_max"/></td>
            </tr>
            <tr>
                <td>&lambda;</td>
                <td><input type="number" formControlName="l_val"/></td>
                <td><input type="checkbox" formControlName="l_est" /></td>
                <td><input type="checkbox" formControlName="l_int" /></td>
                <td><input type="number" formControlName="l_min"/></td>
                <td><input type="number" formControlName="l_max"/></td>
            </tr>
            <tr>
                <td>&mu;</td>
                <td><input type="number" formControlName="m_val"/></td>
                <td><input type="checkbox" formControlName="m_est" /></td>
                <td><input type="checkbox" formControlName="m_int" /></td>
                <td><input type="number" formControlName="m_min"/></td>
                <td><input type="number" formControlName="m_max"/></td>
            </tr>
            <tr>
                <td>m</td>
                <td><input type="number" formControlName="mi_val"/></td>
                <td><input type="checkbox" formControlName="mi_est" /></td>
                <td><input type="checkbox" formControlName="mi_int" /></td>
                <td><input type="number" formControlName="mi_min"/></td>
                <td><input type="number" formControlName="mi_max"/></td>
            </tr>
        </table>

        <h3>Define valores iniciales para las variables</h3>
        <table class="table table-sm">
            <tr>
                <td><h4>S</h4></td> 
                <td><h4>I</h4></td>
                <td><h4>R</h4></td>
                <td><h4>E</h4></td>
            </tr>
            <tr>
                <td><input type="number" formControlName="S"/></td>
                <td><input type="number" formControlName="I"/></td>
                <td><input type="number" formControlName="R"/></td>
                <td><input type="number" formControlName="E"/></td>
            </tr>
        </table>

        <h4>Selecciona un metodo numerico</h4>
        <mat-form-field class="form_element">
            <mat-select  formControlName="method">
                <mat-option *ngFor="let m of methods" [value]="m.name" >{{m.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <h4>Valor para t</h4>
        <input type="number" formControlName="t"/>
        <h4>Total de puntos</h4>
        <input type="number" formControlName="total_points"/>
    </form>
    <form [formGroup]="form2" #solve_model="ngForm" >

        <h4>Selecciona un metodo clasico</h4>
        <mat-form-field class="form_element">
            <mat-select  formControlName="classical_method">
                <mat-option *ngFor="let m of classical_methods" [value]="m.name" >{{m.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <h4>Selecciona un metaheuristica</h4>
        <mat-form-field class="form_element">
            <mat-select  formControlName="metaheuristic">
                <mat-option *ngFor="let m of metaheuristics" [value]="m.name" >{{m.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <h4>Cantidad de iteraciones</h4>
        <input type="number" formControlName="iter"/>
        <h4>Cantidad de particulas</h4>
        <input type="number" formControlName="particle"/>
        <h4>Parametro cognitivo</h4>
        <input type="number" formControlName="cognitive"/>
        <h4>Parametro social</h4>
        <input type="number" formControlName="social"/>
        <h4>Parametro de inercia</h4>
        <input type="number" formControlName="inercia"/>
        <h4>Poblacion</h4>
        <input type="number" formControlName="inercia"/>
        <h4>Factor crossing</h4>
        <input type="number" formControlName="crossing"/>
        <h4>Factor de escalado</h4>
        <input type="number" formControlName="scaled"/>
        <h4>Selecciona archivo de datos</h4>
        <input type="file" id="ctrl" webkitdirectory directory formControlName="path"/>
        <h4>Nombre del archivo de datos</h4>
        <input formControlName="name_file" />

    </form>


    
</div>
