<div class="container">
    <h4>Escoja el modelo a usar</h4>
    <form [formGroup]="form" #solve="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form_element">
            <mat-select  formControlName="model_name" required>
                <mat-option *ngFor="let m of models" [value]="m.name" >{{m.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form> 
</div>

<div class="container_button">
    <button [disabled]="!solve.form.valid" mat-raised-button type="submit" (click)="onSubmit()">Resolver Modelo</button>
</div>