<div class="container">
  <div [ngSwitch]="model_name.model_name" class="container">
    <p class="center">
    <img *ngSwitchCase="'SI'" src="../../../assets/img/si.jpg" width="400" height="200" alt="SI">
    <img *ngSwitchCase="'SIR'" src="../../../assets/img/sir.jpg" width="400" height="200">
    <img *ngSwitchCase="'SIRS'" src="../../../assets/img/sirs.jpg" width="400" height="200">
    <img *ngSwitchCase="'SEIR'" src="../../../assets/img/seir.jpg" width="400" height="200"></p>
    <h3 *ngSwitchDefault><b>Resolver modelo</b></h3>
  </div>
  <div>
    <div>
      <app-initialize-model></app-initialize-model>
    </div>

    <div *ngIf="estimation">
      <app-parameter-estimation></app-parameter-estimation>
    </div>
  </div>
</div>
